// Menu list

.contact-list {
    grid-column: 2 / 3;
    background-color: #fff;
}

.search__input {
    width: rem(223px);
    height: rem(37px);
    border: 1px solid #dadada;
    border-radius: rem(18.5px);
    padding-left: rem(17px);
}



