// Menu list

.contact-main {
    grid-column: 3 / 4;
    background-color: #fff;
}

.contact__name {
    display: flex;
    margin: rem(38px 0 0 47px);
    &-capital {
        height: rem(68px);
        width: rem(68px);
        border-radius: 50%;
        background-color: #02b4d0;
        color: color #fff;
        font-weight: 300;
        font-size: rem(44px);
        line-height: rem(55px);
    }
    &-data-name {
        font-style: normal;
        font-weight: 300;
        font-size: rem(33px);
        line-height: rem(41px);
        color: #4a4a4a;
    }
    &-data-group {
        font-style: normal;
        font-weight: normal;
        font-size: rem(14px);
        line-height: rem(17px);
        color: #999999;
    }
}

.contact__data {
    height: rem(122px);
    width: rem(942px);
    border-top: rem(2px) solid #dadada;
    border-bottom: rem(2px) solid #dadada;
    &-email {
    position: relative;;
    font-weight: normal;
    font-size: rem(16px);
    line-height: rem(20px);
    color: #4a4a4a;

    }
    &-phone {
    position: relative;
    font-weight: normal;
    font-size: rem(16px);
    line-height: rem(20px);
    color: #4a4a4a;

    }
}
