// Grid
// ------------------------------------

$max-width-container: 1440px;
$grid-gutter-width: 30px;

.container {
    max-width: $max-width-container;
    padding: 0 ($grid-gutter-width / 2);
    margin: 0 auto;
}

.grid {
        display: grid;
        grid-template-columns: 250px 259px 931px;
        grid-template-rows: 800px;
}

