// Menu list

.menu {
    grid-column: 1 / 2;
    background-color: #5d6e6a;
    &__list-group{
        margin-top: rem(22px);       
        list-style: none;
        
        
    }
    &__list-item {
        display:block;
        height: rem(37px);
        width: rem(250px);
        line-height: rem(37px);
        padding-left: rem(6px);
        text-decoration: none;
        color: #fff;
        
    }
    &__list-item:hover {
        background-color: lighten(#5d6e6a, 10%);
    }
    &__list-item:focus {
        background-color: #fff;
        color: #4a4a4a;
    }
}

